<div class="form-container">
  <h1>Nuevo Ternero y Tratamiento</h1>
  <form action="/calf/addtotreatment" method="post">
    <div>
      <p>Nombre del ternero:</p>
      <input type="text" id="name" name="name" placeholder="Ej: A011" />
    </div>

    <div>
      <p>Corral:</p>
      <select name="corral" id="corral" required>
        <option value="" disabled selected>Elegir corral</option>
        {{#each corrals}}
          <option value="{{this.corral}}" corralId="{{this._id}}">
            {{this.corral}}
          </option>
        {{/each}}
      </select>
      <input type="hidden" name="corralId" id="corralIdInput" />
    </div>

    <div>
      <p>Fecha de inicio del tratamiento:</p>
      <input type="date" id="startDate" name="startDate" required />
    </div>

    <div>
      <p>Tratamiento:</p>

      <select id="treatment" name="treatmentId" required>
        <option value="" disabled selected>Seleccionar Tratamiento</option>
        {{#each treatments}}
          <option
            value="{{this._id}}"
            data-duration="{{this.duration}}"
            data-medication="{{json this.medication}}"
          >{{this.title}}</option>
        {{/each}}
      </select>
    </div>

    <div id="infoTreatment">
      <p>Medicaciones:</p>
      <input type="text" name="" id="day1Example" readonly />
      <p>Días de tratamiento:</p>
      <input type="number" name="duration" id="duration" readonly />
      <p>Fecha de finalización del tratamiento:</p>
      <input type="date" name="endDate" id="endDate" readonly />
    </div>

    <input
      class="form-button"
      type="submit"
      value="Guardar tratamiento y ternero"
    />
  </form>

</div>