{{>global/headerlogged}}

<nav class="nav-bar">
    <a href="/home" class="link-button">Ir al inicio</a>
    <a href="/enfermeria" class="enfermery-button">Ir a enfermeria</a>
    <a href="/enfermeria/terneros-en-tratamiento" class="enfermery-button">Ver terneros en tratamiento</a>
    <a href="/enfermeria/terneros-enfermeria" class="enfermery-button">Ver todos los terneros tratados</a>
</nav>
{{#if yesterdayCalvesWithContext}}
<h1>Terneros que su tratamiento finalizó:</h1>
{{#each yesterdayCalvesWithContext}}
    {{#unless this.finished}}
    <div class="treatment-container">
    <div>
    <p class="calf">Nombre del ternero: {{this._doc.name}}</p>
    </div>
    <div>
    <p>Corral: {{this._doc.corral}}</p>
    </div>
    <div>
    <p class="treatment">        
    Tratamiento: {{this._doc.treatment.0.title}}
    </p>
    {{#if this.calfCalostro}}
        <div>
            <p class="calostro">        
                Calostrado: {{this.calfCalostro}}
            </p>
        </div>
    {{/if}}
    </div>
    <div>
    <p>Empieza tratamiento el día: {{formatDate this._doc.startDate}}</p>
    </div>
    <div>
    <p>Dias totales de tratamiento: {{this._doc.treatment.0.duration}}</p>
    </div>
    
    <div>
    <p>Finaliza tratamiento el día: {{{formatDate this._doc.endDate}}}</p>
    </div>
    <div class="reset-button-container">
      <form action="/calf/resetTreatment" method="POST" id="resetTreatmentForm">
        <h3>EN CASO DE QUERER REINICIAR EL TRATAMIENTO, SELECCIONE CON CUAL QUIERE CONTINUAR</h3>
        <select id="resetTreatmentCalf" name="newTreatment" required>
          <option value="" disabled selected>Tratamientos</option>
          {{#each treatments}}
            <option
              value="{{this._id}}"
              data-title="{{this.title}}"
              data-duration="{{this.duration}}"
              data-medication='{{json this.medication}}'
            >{{this.title}}</option>
          {{/each}}
        </select>
        <input type="hidden" id="newTitleInput" name="newTitle" value="">
        <input type="hidden" id="newMedicationInput" name="newMedication" value="">
        <input type="hidden" id="newDurationInput" name="newDuration" value="">
        <input type="hidden" name="calfId" value="{{this._doc._id}}">
        <button type="button" class="link-button reset-button">Reiniciar tratamiento</button>
      </form>
      
      <form action="/calf/finishTreatment" method="post">
        <input type="hidden" name="calfId" value="{{this._doc._id}}">
        <input type="hidden" name="treatmentTitle" value="{{this._doc.treatment.0.title}}">
        <input type="hidden" name="endDate" value="{{this._doc.endDate}}">
        <button type="button" class="link-button finish-button">Finalizar tratamiento</button> 
      </form>

      <form action="/calf/dead/{{this._doc._id}}" method="POST">
            <button type="button" class="link-button mark-dead-calf" data-id="{{this._doc._id}}">Dar ternero de baja</button>
      </form>
    </div>
    
</div>
{{/unless}}
{{/each}}

{{else}}
<h1>No hay terneros que hayan finalizado su tratamiento el dia de ayer</h1>
{{/if}}


<script src="/js/enfermery/finishingCalves.js"></script>
<script src="/js/enfermery/resetTreatment.js"></script>
<script src="/js/enfermery/markAsDead.js"></script>