{{>global/headerlogged}}

<nav class="">
    <a href="/home" class="link-button">Ir al inicio</a>
    <a href="/enfermeria" class="enfermery-button">Ir a enfermeria</a>
    <a href="/enfermeria/terneros-por-terminar-tratamiento" class="enfermery-button">Ver terneros a finalizar tratamiento</a>
    <a href="/enfermeria/terneros-enfermeria" class="enfermery-button">Ver todos los terneros tratados</a>
</nav>

<div class="main-treatment-container">
    <div class="title"><h2>Ver animales por corral</h2></div>
    <nav class="nav-corral">
        {{#each corrals}}
        <a href="/corral/{{this._id}}" class="link-button corral-button">{{this.corral}}</a>
        {{/each}}
    </nav>
</div>

{{#if notTreatedcalves}}
<div class="title"> 
<h2>Terneros en tratamiento que no fueron tratados hoy</h2>
</div>
{{#each notTreatedcalves}}
    <div class="{{#if this.resetTreatment}}reset-treatment{{else}}treatment-container{{/if}}">
        <div>
            {{#if this.resetTreatment}}
                <h2>Atención, este ternero no se recuperó y está repitiendo el tratamiento</h2>
            {{/if}}
            <p class="calf">Nombre del ternero: {{this.name}}</p>
        </div>
        <div>
            <p>Corral: {{this.corral}}</p>
        </div>
        {{#if this.calfCalostro}}
        <div>
            <p class="calostro">        
                Calostrado: {{this.calfCalostro}}
            </p>
        </div>
        {{/if}}
        <div>
            <p class="treatment">        
                Tratamiento: {{this.treatment.[0].title}}
            </p>
        </div>
        <div>
            <p>Empieza tratamiento el día: {{formatDate this.startDate}}</p>
        </div>
        <div>
            <p>Días totales de tratamiento: {{this.treatment.[0].duration}}</p>
        </div>
        <div class="medication-container"
                data-start-date="{{this.startDate}}"
                data-medication="{{json this.treatment.[0].medication}}">

            <p class="medication"></p>
        </div>
        <div>
            <p>Finaliza tratamiento el día: {{{formatDate this.endDate}}}</p>
        </div>

        {{#if this.prevTreatment}}
            <h2>ATENCIÓN!! Este ternero fue tratado previamente</h2>
            <div>
                <p>Fue tratado por: {{{this.prevTreatment}}}</p>
            </div>
            <div>
                <p>Finalizó tratamiento el día: {{{formatDate this.prevEndDate}}}</p>
            </div>
        {{/if}}
        
        <h2>Este ternero no fue tratado el día de hoy ❌</h2>
        <form action="/calf/treated/{{this._id}}" method="POST">
            <button type="button" class="link-button mark-today-treated" data-id="{{this._id}}">Marcar como tratado hoy</button>
        </form>

        <form action="/calf/dead/{{this._id}}" method="POST">
            <button type="button" class="link-button mark-dead-calf" data-id="{{this._id}}">Dar ternero de baja</button>
        </form>
    </div>
{{/each}}

{{/if}}

<div class="title">
<h2>Terneros en tratamiento que ya fueron tratados el día de hoy</h2>
</div>

{{#each treatedCalves}}
    <div class="{{#if this.resetTreatment}}reset-treatment{{else}}treatment-container{{/if}}">
        <div>
            {{#if this.resetTreatment}}
                <h2>Atención, este ternero no se recuperó y está repitiendo el tratamiento</h2>
            {{/if}}
            <p class="calf">Nombre del ternero: {{this.name}}</p>
        </div>
        <div>
            <p>Corral: {{this.corral}}</p>
        </div>
        <div>
            <p class="treatment">        
                Tratamiento: {{this.treatment.[0].title}}
            </p>
        </div>
         {{#if this.calfCalostro}}
        <div>
            <p class="calostro">        
                Calostrado: {{this.calfCalostro}}
            </p>
        </div>
        {{/if}}
        <div>
            <p>Empieza tratamiento el día: {{formatDate this.startDate}}</p>
        </div>
        <div>
            <p>Días totales de tratamiento: {{this.treatment.[0].duration}}</p>
        </div>
        <div class="medication-container"
                data-start-date="{{this.startDate}}"
                data-medication="{{json this.treatment.[0].medication}}">

            <p class="medication"></p>
        </div>
        <div>
            <p>Finaliza tratamiento el día: {{{formatDate this.endDate}}}</p>
        </div>

        {{#if this.prevTreatment}}
            <h2>ATENCIÓN!! Este ternero fue tratado previamente</h2>
            <div>
                <p>Fue tratado por: {{{this.prevTreatment}}}</p>
            </div>
            <div>
                <p>Finalizó tratamiento el día: {{{formatDate this.prevEndDate}}}</p>
            </div>
        {{/if}}
        
        <h2>Este ternero ya fue tratado el día de hoy ✔</h2>
        <form action="/calf/dead/{{this._id}}" method="POST">
            <button type="button" class="link-button mark-dead-calf" data-id="{{this._id}}">Dar ternero de baja</button>
        </form>
    </div>
{{/each}}

   
<script src="/js/enfermery/isTreatedForm.js"></script>
<script src="/js/enfermery/markAsDead.js"></script>
<script src="/js/enfermery/currentMedication.js"></script>