{{>global/headerlogged}}

<nav>
    <a href="/home" class="link-button">Volver al inicio</a>
    <a href="/terneros-guachera" class="link-button">Todos los terneros</a>
</nav>




<div class="title">
<h2>Todos los ternenos que han muerto o han sido dados de baja:</h2>
</div>

<div class="title">
        <form action="/terneros-muertos" method="GET">
        <input type="text" name="search" placeholder="Buscar terneros...">
        <h2>Ordernar de manera:</h2>
        <select id="sortOrder" name="sort" >
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>

        <h2>Elegir fecha de inicio de búsqueda</h2>
        <input type="date" id="fromDate" name="fromDate">
        
        <h2>Elegir fecha de fin de búsqueda</h2>
        <input type="date" id="toDate" name="toDate">
        <button type="submit" class="link-button dead-calves-link">Buscar</button>
        </form>
    <form action="/xlsx/createDead" method="POST">
        <input type="hidden" name="deadCalves" value='{{{json deadCalves}}}'>
        <button type="submit" class="excel-button mobile-hidden">Descargar Excel</button>
    </form>
    </div>

    
<div>
{{#each deadCalves}}
    <div class="treated-container mark-dead-calf">
        <div>
            <p class="calf">Nombre del ternero: {{this.name}}</p>
        </div>
        <div>
            <p class="treatment">        
            Tratamiento: {{getTreatment this.treatment}}
            </p>   
        
            <p>Este ternero murió el día: {{{formatDate this.timeDead}}}</p>
        </div>
        {{#if this.comment}}
        <div>
            <p>Comentario: {{this.comment}}</p>
        </div>
        {{/if}}
        
    </div>
{{/each}}
</div>  