{{>headerlogged}}

<nav class="nav-bar">
    <a href="/home" class="link-button">Volver al inicio</a>
    <a href="/agregar" class="link-button">Agregar Ternero a tratamiento</a>
    <a href="/terneros-en-tratamiento" class="link-button">Ver Terneros en tratamiento</a>
    <a href="/terneros" class="link-button">Ver todos los terneros tratados</a>
</nav>
{{#if yesterdayCalves}}
<h1>Terneros que su tratamiento finalizo ayer:</h1>
{{#each yesterdayCalves}}
    {{#unless this.finished}}
    <div class="treatment-container">
    <div>
    <p class="calf">Nombre del ternero: {{this.name}}</p>
    </div>
    <div>
    <p>Corral: {{this.corral}}</p>
    </div>
    <div>
    <p class="treatment">        
    Tratamiento: {{this.treatment}}
    </p>
    </div>
    <div>
    <p>Empieza tratamiento el dia: {{formatDate this.startDate}}</p>
    </div>
    <div>
    <p>Dias totales de tratamiento: {{this.duration}}</p>
    </div>
    <div>
    <p class="medication">        
    Suministrar por dia: {{this.medication}}
    </p>
    </div>
    <div>
    <p>Finaliza tratamiento el dia: {{{formatDate this.endDate}}}</p>
    </div>
    <div class="reset-button-container">
      <form action="/calf/resetTreatment" method="POST">
        <input type="hidden" name="calfId" value="{{this._id}}">
        <button type="button" class="link-button reset-button">Reiniciar tratamiento</button>
      </form>
      
      <form action="/calf/finishTreatment" method="post">
        <input type="hidden" name="calfId" value="{{this._id}}">
        <input type="hidden" name="treatment" value="{{this.treatment}}">
        <input type="hidden" name="endDate" value="{{this.endDate}}">
        <button type="button" class="link-button finish-button">Finalizar tratamiento</button> 
      </form>
    </div>
    
</div>
{{/unless}}
{{/each}}

{{else}}
<h1>No hay terneros que hayan finalizado su tratamiento el dia de ayer</h1>
{{/if}}


<script src="/js/finishingCalves.js"></script>