{{>headerlogged}}

<nav class="nav-bar">
    <a href="/home" class="link-button">Volver al inicio</a>
    <a href="/agregar" class="link-button">Agregar Ternero a tratamiento</a>
    <a href="/terneros-en-tratamiento" class="link-button">Ver Terneros en tratamiento</a>
    <a href="/terneros" class="link-button">Ver todos los terneros tratados</a>
</nav>
{{#if yesterdayCalvesWithContext}}
<h1>Terneros que su tratamiento finalizó ayer:</h1>
{{#each yesterdayCalvesWithContext}}
    {{#unless this.finished}}
    <div class="treatment-container">
    <div>
    <p class="calf">Nombre del ternero: {{this._doc.name}}</p>
    </div>
    <div>
    <p>Corral: {{this._doc.corral}}</p>
    </div>
    <div>
    <p class="treatment">        
    Tratamiento: {{this._doc.treatment}}
    </p>
    </div>
    <div>
    <p>Empieza tratamiento el día: {{formatDate this._doc.startDate}}</p>
    </div>
    <div>
    <p>Dias totales de tratamiento: {{this._doc.duration}}</p>
    </div>
    <div>
    <p class="medication">        
    Suministrar por día: {{this._doc.medication}}
    </p>
    </div>
    <div>
    <p>Finaliza tratamiento el día: {{{formatDate this._doc.endDate}}}</p>
    </div>
    <div class="reset-button-container">
      <form action="/calf/resetTreatment" method="POST">
       <h3>EN CASO DE QUERER REINICIAR EL TRATAMIENTO, SELECCIONE CON CUAL QUIERE CONTINUAR</h3>
        <select id="resetTreatmentCalf" name="newTreatment" required>
        <option value="" disabled selected>Tratamientos</option>
        {{#each treatments}}
          <option
            value="{{this.title}}"
            medication="{{this.medication}}"
            data-duration="{{this.duration}}"
          >{{this.title}}</option>
        {{/each}}
        </select>
        <input type="hidden" id="newMedicationInput" name="newMedication" value="">
        <input type="hidden" id="newDurationInput" name="newDuration" value="">
      
        <input type="hidden" name="calfId" value="{{this._doc._id}}">
        <button type="button" class="link-button reset-button">Reiniciar tratamiento</button>
      </form>
      
      <form action="/calf/finishTreatment" method="post">
        <input type="hidden" name="calfId" value="{{this._id}}">
        <input type="hidden" name="treatment" value="{{this.treatment}}">
        <input type="hidden" name="endDate" value="{{this.endDate}}">
        <button type="button" class="link-button finish-button">Finalizar tratamiento</button> 
      </form>
    </div>
    
</div>
{{/unless}}
{{/each}}

{{else}}
<h1>No hay terneros que hayan finalizado su tratamiento el dia de ayer</h1>
{{/if}}


<script src="/js/finishingCalves.js"></script>
<script src="/js/resetTreatment.js"></script>